<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat">
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
  <script src="/js/application.js"></script>

	<title>AirB2B</title>
	</head>
	<body class="adjust-top">
	<div class= "fixed contain-to-grid sticky pink">
 <nav class="top-bar pink">
  <ul class="title-area">
    <li class="name">
      <h1 class= "pink"><a href="/"><h3><img src="http://www.rovignon.com/wp-content/uploads/2014/11/airbnb_logo_detail2.png" height="50" width="100"></h3></a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <!-- <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li> -->
  </ul>

  <section class="top-bar-section pink">
    <!-- Right Nav Section -->

    <ul class="right">
        <li class= "pink">
        <% if session[:user_id] == nil %>
            <a href="#login-box" class="login-window"><button class="tiny alert button" style='top: 0px'>
              Login / Sign Up</button></a>
        <% end %>
        </li>
        <li class= "pink"> <% if session[:user_id] != nil %>
    <% user=User.find_by_id(session[:user_id]) %>
        <h6 class="newfont3"> Hi, <%= user.name %></h6>
      </li>
      <li class= "pink">
        <form method=post action=/user/logout>
          <button class="button"> Logout! </button><br>
        </form>
        <% end %>
      </li>

    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li class= "pink"> 
      <li>
        <a class= "pink" href="/user"><button class="button" style='top: 0px'>Home</button></a>
        </li>
        <% if session[:user_id] != nil %>
              <li class="search">
              <form>
                <input type="search" name="search" placeholder="Find your rent here!">
              </form>
            </li>
            <li class="has-button">
              <a class="small info button" href="#">Not working do not click!</a>
            </li>
             <% end %>
        </li>
        </ul>
  </section>
</nav>
</div>
  <div id="login-box" class="login-popup">
  
  <div class="row panel">
    <div class=" column large-9">
    <h4 class="newfont4">Please sign up or login first to continue!</h4>
    </div>
    <div class=" column large-3">
    <a href="#" class="close"><button class="tiny right alert button"> X </button></a>
    </div>
    <div class=" column large-6 panel white">
    <h2>Sign up for an account!</h2>
    <form method=post action=/signup>
      <input type=text placeholder="Email" name="user[email]"><br>
      <input type=password placeholder="Password" name="user[password]"></br>
      <input type=submit class="button" value="Sign up">
    </form>
    </div>
    <div class=" column large-6 panel white">
    <h2>Login here!</h2>
    <form method=post action=/login>
      <input type=text placeholder="Email" name="user[email]"><br>
      <input type=password placeholder="Password" name="user[password]"></br>
      <input type=submit class="alert button" value="Login!">
    </form>
    </div>
    </div>
</div>
		<%= yield %>
	</body>
</html>